VITE_GOOGLE_SCRIPT_URL="https://script.google.com/macros/s/AKfycbyWYS8LRjIlQ3xftyxlt6vfI2onRoPka4W3LhppjxX-BK6IwCydZiavSEOrRLRlFX2Q/exec"
VITE_WEBAPP_SECRET="7893402haefudHJFKio&%^*(#G2ghd0"

SENDER_APP_PASSWORD="lbkc vyso bifa qmvk"